body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  
}

.pixi-container{
  position: relative;
}

.pixi-container2{
  display: inline-block; /* Makes containers align horizontally */
  vertical-align: top;   /* Aligns containers to the top */
  margin-right: 20px;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.result-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
  display: none;
}

#resetEverythingButton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#resetEverythingButton:hover {
  background-color: #0056b3;
}

.show-result {
  display: block;
}

.car {
  position: absolute;
}


.finish-line {
  position: absolute;
  right: 5.4%;
  width: 2px;
  height: 100%;
  background-color: red;
  z-index: -1;
}

.borderBox {
  transform: scale(6);
  position: absolute;
  top: 200px;
  left: 130px;
  background: rgba(255, 255, 255, 0); /* Fully transparent background */
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Ensure the controls are above the PIXI canvas */
  border: 0.1px solid rgb(57, 204, 214); /* Solid black border */
}

.controls-container {
  position: absolute;
  top: 400px;
  left: 30px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 10; /* Ensure the controls are above the PIXI canvas */
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.controls div,
.controls button {
  margin-bottom: 10px;
}

.timer {
  font-size: 1.2em;
  text-align: center;
}

.result {
  font-size: 1.2em;
  color: rgb(29, 93, 129);
  font-family: Bradley Hand, cursive;
  margin-bottom: 20px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chart-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: 600px;
  max-height: 600px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .chart-container {
    height: 500px;
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  .chart-container {
    height: 400px;
    max-height: 400px;
  }
}

canvas#chart {
  width: 100%;
  height: 100%;
  display: block;
}