body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  margin-top: 100px;
  margin-right: 500px;
  transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1em;
    font-weight: 500;
    color: #123d99;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}



.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  
}

.pixi-container{
  position: relative;
}

.pixi-container2{
  display: inline-block; /* Makes containers align horizontally */
  vertical-align: top;   /* Aligns containers to the top */
  margin-right: 20px;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.result-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
  display: none;
}

.show-result {
  display: block;
}


.grid {
  position: relative;
  width: 700px;
  height: 150px; /* Increased height to accommodate images */
  border: 2px solid #000;
  margin-bottom: 20px;
  margin-right: 50px; /* Add spacing between grid and controls */
}

.car {
  position: absolute;
}

.car img {
  width: 50px; /* Adjust the width of the car images as needed */
  height: auto;
}

#car1 {
  left: 0;
  top: 25%; /* Place car1 at 25% from the top */
  transform: translateY(-50%);
}

#car2 {
  left: 0;
  top: 75%; /* Place car2 at 75% from the top */
  transform: translateY(-50%);
}


.finish-line {
  position: absolute;
  right: 5.4%;
  width: 2px;
  height: 100%;
  background-color: red;
  z-index: -1;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 100px;
/*
  border-style: solid;
  border-width: 2px 2px;*/
  
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.controls div,
.controls button {
  margin-bottom: 10px;
}

.timer {
  font-size: 1.2em;
  text-align: center;
}

.result {
  font-size: 1.2em;
  color: rgb(29, 93, 129);
  font-family: Bradley Hand, cursive;
  margin-bottom: 20px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chart-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: 600px;
  max-height: 600px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .chart-container {
    height: 500px;
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  .chart-container {
    height: 400px;
    max-height: 400px;
  }
}

canvas#chart {
  width: 100%;
  height: 100%;
  display: block;
}